th {
    text-align: left;
    color: #fff;
    background-color: #000000;
}
td {
    width: max-content;
    color: #000000;
    border-bottom: 1px solid #eee;
}
th, td {
    padding: 10px;
    height: 20px;
}
td:first-child {
    width: 150px;
    min-width: 0;
}
td:last-child {
    min-width: 0;
}
tr {
    background-color: rgb(255, 255, 255)
}